.outerContainer {
  width: 100%;
}
.cardContainer {
  display: flex;
  width: 100%;
  padding-top: 9rem;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-color: #eee;
  box-shadow: 3px 4px 6px 0 #1266f1cf;
}

.body {
  width: 100%;
  padding: 1rem;
  padding-bottom: 8px;
  background: linear-gradient(180deg, #0000, #0006 15%, #000);
}

.author {
  color: #ccc;
  align-self: flex-end;
}

@media screen and (min-width: 400px) {
  .outerContainer {
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .outerContainer {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .outerContainer {
    width: 22%;
  }
}
